@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap");
/* line 10, ../sass/_base.scss */
.print-me {
  display: none;
}

@font-face {
  src: local("☺");
}
@font-face {
  font-family: "Novecento";
  src: url('../fonts/Novecentowide-Light-webfont.eot?1527377416');
  src: url('../fonts/Novecentowide-Light-webfont.eot?&1527377416#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-Light-webfont.ttf?1527377416') format('truetype'), url('../fonts/Novecentowide-Light-webfont.woff?1527377416') format('woff'), url('../fonts/Novecentowide-Light-webfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Novecento";
  src: url('../fonts/Novecentowide-Bold-webfont.eot?1527377416');
  src: url('../fonts/Novecentowide-Bold-webfont.eot?&1527377416#iefix') format('embedded-opentype'), url('../fonts/Novecentowide-Bold-webfont.ttf?1527377416') format('truetype'), url('../fonts/Novecentowide-Bold-webfont.woff?1527377416') format('woff'), url('../fonts/Novecentowide-Bold-webfont.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
/* line 7, ../sass/ie.scss */
.roll-link a {
  background: none;
  border: none;
  color: inherit;
  display: block;
  position: relative;
  padding: 0 0.5em;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
/* line 79, ../sass/_base.scss */
.roll-link a:hover {
  background: none;
  border: none;
  color: inherit;
}
/* line 15, ../sass/ie.scss */
.roll-link a:hover {
  padding: 0 0.5em;
  color: #000000;
  background: #FFFFFF;
}
