@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
/* line 17, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Novecento";
  src: url('../fonts/Novecentowide-Light-webfont.eot');
  src: url('../fonts/Novecentowide-Light-webfont.eot?#iefix') format('eot'), url('../fonts/Novecentowide-Light-webfont.ttf') format('truetype'), url('../fonts/Novecentowide-Light-webfont.woff') format('woff'), url('../fonts/Novecentowide-Light-webfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Novecento";
  src: url('../fonts/Novecentowide-Bold-webfont.eot');
  src: url('../fonts/Novecentowide-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/Novecentowide-Bold-webfont.ttf') format('truetype'), url('../fonts/Novecentowide-Bold-webfont.woff') format('woff'), url('../fonts/Novecentowide-Bold-webfont.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* line 14, ../sass/screen.scss */
body {
  border-left: 3em solid #000;
  border-right: 3em solid #000;
  font: 1em 'Open Sans', sans-serif;
  background: url('../images/stars-01.gif?1375147839') fixed center center no-repeat black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 25, ../sass/screen.scss */
body:after {
  content: "";
  position: fixed;
  background: #000;
  left: 0;
  right: 0;
  height: 3em;
  bottom: 0;
}

/* line 35, ../sass/screen.scss */
header {
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1em 3em 1em;
  z-index: 99;
  height: 2em;
}

/* line 46, ../sass/screen.scss */
.logo {
  position: relative;
}
/* line 49, ../sass/screen.scss */
.logo a {
  display: block;
  float: left;
  top: 10px;
  left: 0;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  text-indent: -9999em;
  width: 127px;
  height: 38px;
}
/* line 50, ../sass/screen.scss */
html.svg .logo a {
  background-image: url('../images/pbj-site-logo.svg?1374825968');
}
/* line 53, ../sass/screen.scss */
html.no-svg .logo a {
  background-image: url('../images/fallbacks/pbj-site-logo.png?1374825996');
}

/* line 75, ../sass/screen.scss */
nav ul.site-nav {
  text-align: right;
}
/* line 78, ../sass/screen.scss */
nav ul.site-nav li {
  display: inline-block;
  padding: 0 0 0 1em;
}
/* line 83, ../sass/screen.scss */
nav ul.site-nav li a {
  font: 1em 'Novecento', 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  line-height: 3em;
}

/* line 92, ../sass/screen.scss */
p {
  font-size: 1em;
  line-height: 1.6em;
  color: #000;
}

/* line 99, ../sass/screen.scss */
.content {
  margin: 4em auto 3em;
  border: 1px solid #000;
}

/* line 104, ../sass/screen.scss */
article {
  padding-top: 15%;
}

/* line 112, ../sass/screen.scss */
article:last-child {
  padding-bottom: 20em;
}

/* line 116, ../sass/screen.scss */
h2, h3 {
  width: 50%;
  max-width: 20em;
  margin: auto;
  padding: 1em 2em;
}

/* line 123, ../sass/screen.scss */
.column-head {
  width: 75%;
  width: calc(100% - 2.6em);
  margin: 2em auto 0;
  padding: 1em 1em;
}

/* line 130, ../sass/screen.scss */
.section-header {
  font: 1.4em 'Novecento', 'Open Sans', sans-serif;
  color: #FFF;
  border: solid #FFF .3em;
  background: #000;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-weight: bold;
}
/* line 140, ../sass/screen.scss */
.section-header em {
  font-weight: normal;
  display: block;
}

/* line 147, ../sass/screen.scss */
.text-block {
  width: 70%;
  max-width: 50em;
  background: white;
  margin: 2em auto;
  padding: 3%;
  font-size: 1.1em;
}
/* line 155, ../sass/screen.scss */
.text-block strong {
  font-weight: bold;
}

/* line 160, ../sass/screen.scss */
.column-container {
  width: 80%;
  max-width: 70em;
  overflow: auto;
  margin: auto auto 5em;
}

/* line 167, ../sass/screen.scss */
figure, .column {
  float: left;
  width: 27.3333%;
  margin: 3%;
}
/* line 172, ../sass/screen.scss */
figure .text-block, .column .text-block {
  width: 80%;
  padding: 10%;
}

/* line 178, ../sass/screen.scss */
ul {
  list-style-type: square;
}

/* line 182, ../sass/screen.scss */
span.amp {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* line 188, ../sass/screen.scss */
.list {
  width: 80%;
  margin: 2em auto;
  list-style: none;
  -webkit-column-count: 3;
  -webkit-column-gap: 0;
  -webkit-column-fill: auto;
  padding: 0;
  text-align: center;
}

/* line 200, ../sass/screen.scss */
.list-item {
  position: relative;
  min-width: 6em;
  min-height: 6em;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  margin: 0;
}

/* line 263, ../sass/screen.scss */
.size-13 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-14 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-15 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-16 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-17 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-18 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-19 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-20 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-21 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-22 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-23 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-24 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-25 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-26 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-27 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-28 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-29 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-30 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-31 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-32 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-33 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-34 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-35 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-36 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-37 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-38 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-39 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-40 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-41 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-42 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-43 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-44 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-45 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-46 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-47 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-48 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-49 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-50 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-51 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-52 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-53 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-54 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-55 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-56 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-57 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-58 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-59 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-60 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-61 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-62 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-63 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-64 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-65 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-66 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-67 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-68 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-69 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-70 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-71 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-72 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-73 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-74 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-75 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-76 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-77 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-78 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-79 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-80 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-81 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-82 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-83 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-84 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-85 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-86 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-87 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-88 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-89 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-90 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-91 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-92 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-93 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-94 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-95 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-96 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 263, ../sass/screen.scss */
.size-97 {
  width: 18.98829%;
  height: 18.98829%;
}

/* line 270, ../sass/screen.scss */
.list-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #000;
  font: 1em 'Novecento', 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  background: #FFF;
  padding: 35% 18%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
}
/* line 286, ../sass/screen.scss */
.list-content em {
  font: 0.9em georgia, sans-serif;
  font-weight: normal;
  font-style: italic;
  display: block;
  margin: 0.6em 0;
}
