@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
/* line 17, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Novecento";
  src: url('../fonts/Novecentowide-Light-webfont.eot');
  src: url('../fonts/Novecentowide-Light-webfont.eot?#iefix') format('eot'), url('../fonts/Novecentowide-Light-webfont.ttf') format('truetype'), url('../fonts/Novecentowide-Light-webfont.woff') format('woff'), url('../fonts/Novecentowide-Light-webfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Novecento";
  src: url('../fonts/Novecentowide-Bold-webfont.eot');
  src: url('../fonts/Novecentowide-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/Novecentowide-Bold-webfont.ttf') format('truetype'), url('../fonts/Novecentowide-Bold-webfont.woff') format('woff'), url('../fonts/Novecentowide-Bold-webfont.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* line 42, ../sass/screen.scss */
a {
  color: #0f67fb;
}

/* line 45, ../sass/screen.scss */
a:hover, a:focus {
  color: #2445ae;
  text-decoration: none;
}

/* line 49, ../sass/screen.scss */
a:active {
  color: black;
}

/* ROLL LINKS */
/* line 54, ../sass/screen.scss */
.roll-link {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

/* line 62, ../sass/screen.scss */
.roll-link:hover {
  text-decoration: none;
}

/* line 66, ../sass/screen.scss */
.roll-link a {
  display: block;
  position: relative;
  padding: 0 0.5em;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 75, ../sass/screen.scss */
.roll-link:hover a {
  background-color: #08061d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF08061D', endColorstr='#FF40262D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #08061d), color-stop(47%, #26192b), color-stop(100%, #40262d));
  background-image: -webkit-linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  background-image: -moz-linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  background-image: -o-linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  background-image: linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  -webkit-transform: translate3d(0, 0, -30px);
  -moz-transform: translate3d(0, 0, -30px);
  -ms-transform: translate3d(0, 0, -30px);
  -o-transform: translate3d(0, 0, -30px);
  transform: translate3d(0, 0, -30px);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

/* line 89, ../sass/screen.scss */
.roll-link a:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0.5em;
  color: white;
  background-color: #08061d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF08061D', endColorstr='#FF40262D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #08061d), color-stop(47%, #26192b), color-stop(100%, #40262d));
  background-image: -webkit-linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  background-image: -moz-linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  background-image: -o-linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  background-image: linear-gradient(top, #08061d 0%, #26192b 47%, #40262d 100%);
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

/* line 128, ../sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 132, ../sass/screen.scss */
em {
  font-family: Georgia, sans-serif;
  font-weight: normal;
  font-style: italic;
}

/* line 138, ../sass/screen.scss */
body {
  border-left: 4em solid black;
  border-right: 4em solid black;
  font: 1em/1.6em 'Open Sans', sans-serif;
  color: black;
  background-color: black;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(4%, #000106), color-stop(7%, #03030f), color-stop(12%, #04061b), color-stop(17%, #06061e), color-stop(20%, #09071d), color-stop(23%, #0c0a20), color-stop(26%, #131126), color-stop(29%, #161429), color-stop(32%, #20182d), color-stop(35%, #22192c), color-stop(38%, #2c1b2b), color-stop(41%, #3a2029), color-stop(44%, #3a232d), color-stop(47%, #482b2d), color-stop(50%, #4c302f), color-stop(53%, #5b3f3c), color-stop(56%, #674a44), color-stop(59%, #7a5a4d), color-stop(62%, #846755), color-stop(65%, #9f8576), color-stop(68%, #bbab9b), color-stop(71%, #c6b599), color-stop(74%, #b28f71), color-stop(77%, #a47959), color-stop(80%, #804729), color-stop(83%, #642110), color-stop(86%, #5d1910), color-stop(89%, #51150d), color-stop(92%, #40110b), color-stop(95%, #2e0d08), color-stop(98%, #180604), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #000000 0%, #000106 4%, #03030f 7%, #04061b 12%, #06061e 17%, #09071d 20%, #0c0a20 23%, #131126 26%, #161429 29%, #20182d 32%, #22192c 35%, #2c1b2b 38%, #3a2029 41%, #3a232d 44%, #482b2d 47%, #4c302f 50%, #5b3f3c 53%, #674a44 56%, #7a5a4d 59%, #846755 62%, #9f8576 65%, #bbab9b 68%, #c6b599 71%, #b28f71 74%, #a47959 77%, #804729 80%, #642110 83%, #5d1910 86%, #51150d 89%, #40110b 92%, #2e0d08 95%, #180604 98%, #000000 100%);
  background-image: -moz-linear-gradient(top, #000000 0%, #000106 4%, #03030f 7%, #04061b 12%, #06061e 17%, #09071d 20%, #0c0a20 23%, #131126 26%, #161429 29%, #20182d 32%, #22192c 35%, #2c1b2b 38%, #3a2029 41%, #3a232d 44%, #482b2d 47%, #4c302f 50%, #5b3f3c 53%, #674a44 56%, #7a5a4d 59%, #846755 62%, #9f8576 65%, #bbab9b 68%, #c6b599 71%, #b28f71 74%, #a47959 77%, #804729 80%, #642110 83%, #5d1910 86%, #51150d 89%, #40110b 92%, #2e0d08 95%, #180604 98%, #000000 100%);
  background-image: -o-linear-gradient(top, #000000 0%, #000106 4%, #03030f 7%, #04061b 12%, #06061e 17%, #09071d 20%, #0c0a20 23%, #131126 26%, #161429 29%, #20182d 32%, #22192c 35%, #2c1b2b 38%, #3a2029 41%, #3a232d 44%, #482b2d 47%, #4c302f 50%, #5b3f3c 53%, #674a44 56%, #7a5a4d 59%, #846755 62%, #9f8576 65%, #bbab9b 68%, #c6b599 71%, #b28f71 74%, #a47959 77%, #804729 80%, #642110 83%, #5d1910 86%, #51150d 89%, #40110b 92%, #2e0d08 95%, #180604 98%, #000000 100%);
  background-image: linear-gradient(top, #000000 0%, #000106 4%, #03030f 7%, #04061b 12%, #06061e 17%, #09071d 20%, #0c0a20 23%, #131126 26%, #161429 29%, #20182d 32%, #22192c 35%, #2c1b2b 38%, #3a2029 41%, #3a232d 44%, #482b2d 47%, #4c302f 50%, #5b3f3c 53%, #674a44 56%, #7a5a4d 59%, #846755 62%, #9f8576 65%, #bbab9b 68%, #c6b599 71%, #b28f71 74%, #a47959 77%, #804729 80%, #642110 83%, #5d1910 86%, #51150d 89%, #40110b 92%, #2e0d08 95%, #180604 98%, #000000 100%);
}
@media (max-width: 650px) {
  /* line 138, ../sass/screen.scss */
  body {
    border-left: 1em solid black;
    border-right: 1em solid black;
  }
}

/* bottom "border" */
/* line 155, ../sass/screen.scss */
body:after {
  content: "";
  position: fixed;
  background: black;
  left: 0;
  right: 0;
  height: 4em;
  bottom: 0;
}
@media (max-width: 650px) {
  /* line 155, ../sass/screen.scss */
  body:after {
    height: 1em;
  }
}

/* line 169, ../sass/screen.scss */
header {
  background: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1em 4em 1em;
  height: 4em;
  z-index: 99;
}
@media (max-width: 650px) {
  /* line 169, ../sass/screen.scss */
  header {
    padding: 1em;
    height: 2.5em;
  }
}

/* line 186, ../sass/screen.scss */
.logo a {
  display: block;
  top: 2em;
  left: 4em;
  position: fixed;
  overflow: hidden;
  background-repeat: no-repeat;
  text-indent: -9999em;
  width: 100px;
  height: 30px;
  z-index: 100;
}
/* line 187, ../sass/screen.scss */
html.svg .logo a {
  background-image: url('../images/pbj-site-logo.svg?1375622054');
}
/* line 191, ../sass/screen.scss */
html.no-svg .logo a {
  background-image: url('../images/fallbacks/pbj-site-logo.png?1375622043');
}
@media (max-width: 650px) {
  /* line 186, ../sass/screen.scss */
  .logo a {
    position: absolute;
    width: 60px;
    height: 18px;
    top: 1em;
    left: 1em;
    -webkit-background-size: 60px, 18px;
    -moz-background-size: 60px, 18px;
    -o-background-size: 60px, 18px;
    background-size: 60px, 18px;
    margin: auto;
    margin-bottom: 1em;
  }
}

/* line 219, ../sass/screen.scss */
nav ul.site-nav {
  text-align: right;
  display: block;
}
/* line 228, ../sass/screen.scss */
nav ul.site-nav li {
  display: inline-block;
  padding: 0 0 0 1em;
  margin: 1em 0;
  font: 1em/2em 'Novecento', 'Open Sans', sans-serif;
}
@media (max-width: 800px) {
  /* line 228, ../sass/screen.scss */
  nav ul.site-nav li {
    margin: 0;
    padding: 0;
  }
}
/* line 239, ../sass/screen.scss */
nav ul.site-nav li:nth-child(2) {
  padding: 0;
}
/* line 243, ../sass/screen.scss */
nav ul.site-nav .belong-nav {
  font: 0.8em/3em 'Open Sans', sans-serif;
  margin-right: 2em;
}
@media (max-width: 800px) {
  /* line 243, ../sass/screen.scss */
  nav ul.site-nav .belong-nav {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    line-height: 1.8em;
    font-size: 0.6em;
  }
}
/* line 256, ../sass/screen.scss */
nav ul.site-nav li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 650px) {
  /* line 256, ../sass/screen.scss */
  nav ul.site-nav li a {
    font-size: 0.9em;
    line-height: 1em;
    margin: 0.4em auto;
  }
}

/* line 269, ../sass/screen.scss */
.site-wrapper {
  margin: 4em auto 3em;
  border: 1px solid black;
  background: url('../images/stars-01.gif?1375147839') fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 276, ../sass/screen.scss */
article {
  padding-top: 15%;
}
@media (max-width: 650px) {
  /* line 276, ../sass/screen.scss */
  article {
    padding-top: 50%;
  }
}
@media (max-width: 800px) {
  /* line 276, ../sass/screen.scss */
  article {
    padding-top: 30%;
  }
}

/* break */
/* line 287, ../sass/screen.scss */
article:last-child {
  padding-bottom: 100%;
}

/* line 291, ../sass/screen.scss */
h2, h3 {
  width: 50%;
  max-width: 20em;
  margin: auto;
  padding: 1em 2em;
}
@media (max-width: 800px) {
  /* line 291, ../sass/screen.scss */
  h2, h3 {
    width: 60%;
    padding: 0.5em 1em;
  }
}

/* line 303, ../sass/screen.scss */
.section-header {
  font: 1.4em/1.5em 'Novecento', 'Open Sans', sans-serif;
  color: white;
  border: solid white 0.3em;
  background: black;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: bold;
}
/* line 312, ../sass/screen.scss */
.section-header .debold {
  font-weight: normal;
  display: block;
}
@media (max-width: 800px) {
  /* line 303, ../sass/screen.scss */
  .section-header {
    font-size: 1em;
    line-height: 1.5em;
  }
}

/* line 323, ../sass/screen.scss */
.text-block {
  width: 70%;
  max-width: 45em;
  margin: 2em auto 0;
  padding: 2em 3em;
  background: white;
  font-size: 1.1em;
}
/* line 331, ../sass/screen.scss */
.text-block strong {
  font-weight: bold;
}
/* line 335, ../sass/screen.scss */
.text-block .special {
  background: #fffad2;
  font-style: italic;
  color: black;
}
@media (max-width: 800px) {
  /* line 323, ../sass/screen.scss */
  .text-block {
    width: 75%;
    font-size: 0.9em;
    line-height: 1.4em;
    padding: 1em 1.8em;
  }
}

/* line 349, ../sass/screen.scss */
.subhead {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 1.5em;
}
@media (max-width: 800px) {
  /* line 349, ../sass/screen.scss */
  .subhead {
    margin-bottom: 1em;
    font-size: 100%;
  }
}

/* line 360, ../sass/screen.scss */
.column-container {
  width: 80%;
  max-width: 80em;
  margin: auto auto 5em;
  overflow: auto;
}
@media (max-width: 800px) {
  /* line 360, ../sass/screen.scss */
  .column-container {
    width: 100%;
    margin: auto;
  }
}

/* line 372, ../sass/screen.scss */
.column, figure {
  float: left;
  width: 27.3333%;
  min-width: 17em;
  margin: 2%;
}
@media (max-width: 800px) {
  /* line 372, ../sass/screen.scss */
  .column, figure {
    float: none;
    width: 90%;
    margin: 2% auto;
  }
}
/* line 384, ../sass/screen.scss */
.column .text-block, figure .text-block {
  width: 80%;
  padding: 10%;
}
/* line 389, ../sass/screen.scss */
.column ul, figure ul {
  list-style-type: square;
  margin-left: 1em;
}

/* break */
/* line 396, ../sass/screen.scss */
.column-head {
  width: 75%;
  /* calc fallback for IE 8 */
  width: calc(100% - 2.6em);
  margin: 2em auto 0;
  padding: 1em 1em;
}
@media (max-width: 800px) {
  /* line 396, ../sass/screen.scss */
  .column-head {
    width: 65%;
    padding: 1em 0;
  }
}

/* line 408, ../sass/screen.scss */
.column-1, .column-2, .column-3 {
  display: block;
  min-height: 190px;
  background: no-repeat;
  -webkit-background-size: 101% auto;
  -moz-background-size: 101% auto;
  -o-background-size: 101% auto;
  background-size: 101% auto;
  margin-top: -2em;
}
@media screen and (min-width: 400px) and (max-width: 800px) {
  /* line 408, ../sass/screen.scss */
  .column-1, .column-2, .column-3 {
    margin-top: -10em;
    min-height: 350px;
  }
}

/* line 422, ../sass/screen.scss */
html.svg .column-1 {
  background-image: url('../images/column-footer-1.svg?1375621913');
}
/* line 426, ../sass/screen.scss */
html.no-svg .column-1 {
  background-image: url('../images/column-footer-1.png');
}

/* line 432, ../sass/screen.scss */
html.svg .column-2 {
  background-image: url('../images/column-footer-2.svg?1375620846');
}
/* line 436, ../sass/screen.scss */
html.no-svg .column-2 {
  background-image: url('../images/column-footer-2.png');
}

/* line 442, ../sass/screen.scss */
html.svg .column-3 {
  background-image: url('../images/column-footer-3.svg?1375620905');
}
/* line 446, ../sass/screen.scss */
html.no-svg .column-3 {
  background-image: url('../images/column-footer-3.png');
}

/* line 451, ../sass/screen.scss */
.icon-strengths, .icon-chops, .icon-quirks {
  display: block;
  width: 50px;
  min-height: 50px;
  background: no-repeat;
  margin: auto;
}
@media screen and (min-width: 400px) and (max-width: 800px) {
  /* line 451, ../sass/screen.scss */
  .icon-strengths, .icon-chops, .icon-quirks {
    float: left;
  }
}

/* line 464, ../sass/screen.scss */
html.svg .icon-strengths {
  background-image: url('../images/icon-strengths.svg?1375630345');
}
/* line 468, ../sass/screen.scss */
html.no-svg .icon-strengths {
  background-image: url('../images/icon-strengths.png');
}

/* line 474, ../sass/screen.scss */
html.svg .icon-chops {
  background-image: url('../images/icon-chops.svg?1375630430');
}
/* line 478, ../sass/screen.scss */
html.no-svg .icon-chops {
  background-image: url('../images/icon-chops.png');
}

/* line 484, ../sass/screen.scss */
html.svg .icon-quirks {
  background-image: url('../images/icon-quirks.svg?1375630476');
}
/* line 488, ../sass/screen.scss */
html.no-svg .icon-quirks {
  background-image: url('../images/icon-quirks.png');
}

/* line 494, ../sass/screen.scss */
figure {
  text-align: center;
}

/* line 499, ../sass/screen.scss */
span.amp {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* line 505, ../sass/screen.scss */
.bubble-list {
  width: 80%;
  max-width: 80em;
  margin: 5em auto;
  list-style: none;
  text-align: center;
}
@media (max-width: 800px) {
  /* line 505, ../sass/screen.scss */
  .bubble-list {
    width: 90%;
    margin: 3em auto;
  }
}

/* line 517, ../sass/screen.scss */
.bubble {
  position: relative;
  min-width: 6em;
  display: inline-block;
  margin: -0.8em;
  vertical-align: bottom;
}

/* line 525, ../sass/screen.scss */
.bubble:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* this maintains the aspect ratio of the bubble - 1:1*/
}

/* line 531, ../sass/screen.scss */
.bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30% 15%;
  margin: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: white;
  font: 1em/1.2em 'Novecento', 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
}
/* line 546, ../sass/screen.scss */
.bubble-content em {
  display: block;
  margin: 0.6em 0;
  font-size: 0.9em;
}

/* line 556, ../sass/screen.scss */
.size-1 {
  width: 1.75em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-1 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-2 {
  width: 2.47487em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-2 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-3 {
  width: 3.03109em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-3 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-4 {
  width: 3.5em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-4 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-5 {
  width: 3.91312em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-5 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-6 {
  width: 4.28661em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-6 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-7 {
  width: 4.63006em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-7 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-8 {
  width: 4.94975em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-8 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-9 {
  width: 5.25em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-9 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-10 {
  width: 5.53399em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-10 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-11 {
  width: 5.80409em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-11 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-12 {
  width: 6.06218em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-12 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-13 {
  width: 6.30971em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-13 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-14 {
  width: 6.5479em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-14 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-15 {
  width: 6.77772em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-15 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-16 {
  width: 7em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-16 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-17 {
  width: 7.21543em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-17 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-18 {
  width: 7.42462em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-18 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-19 {
  width: 7.62807em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-19 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-20 {
  width: 7.82624em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-20 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-21 {
  width: 8.01951em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-21 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-22 {
  width: 8.20823em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-22 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-23 {
  width: 8.39271em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-23 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-24 {
  width: 8.57321em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-24 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-25 {
  width: 8.75em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-25 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-26 {
  width: 8.92328em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-26 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-27 {
  width: 9.09327em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-27 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-28 {
  width: 9.26013em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-28 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-29 {
  width: 9.42404em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-29 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-30 {
  width: 9.58514em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-30 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-31 {
  width: 9.74359em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-31 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-32 {
  width: 9.89949em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-32 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-33 {
  width: 10.05298em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-33 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-34 {
  width: 10.20417em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-34 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-35 {
  width: 10.35314em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-35 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-36 {
  width: 10.5em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-36 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-37 {
  width: 10.64483em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-37 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-38 {
  width: 10.78772em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-38 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-39 {
  width: 10.92875em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-39 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-40 {
  width: 11.06797em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-40 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-41 {
  width: 11.20547em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-41 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-42 {
  width: 11.3413em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-42 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-43 {
  width: 11.47552em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-43 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-44 {
  width: 11.60819em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-44 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-45 {
  width: 11.73936em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-45 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-46 {
  width: 11.86908em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-46 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-47 {
  width: 11.9974em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-47 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-48 {
  width: 12.12436em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-48 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-49 {
  width: 12.25em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-49 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-50 {
  width: 12.37437em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-50 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-51 {
  width: 12.4975em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-51 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-52 {
  width: 12.61943em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-52 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-53 {
  width: 12.74019em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-53 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-54 {
  width: 12.85982em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-54 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-55 {
  width: 12.97835em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-55 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-56 {
  width: 13.0958em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-56 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-57 {
  width: 13.21221em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-57 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-58 {
  width: 13.3276em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-58 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-59 {
  width: 13.44201em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-59 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-60 {
  width: 13.55544em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-60 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-61 {
  width: 13.66794em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-61 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-62 {
  width: 13.77951em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-62 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-63 {
  width: 13.89019em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-63 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-64 {
  width: 14em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-64 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-65 {
  width: 14.10895em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-65 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-66 {
  width: 14.21707em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-66 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-67 {
  width: 14.32437em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-67 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-68 {
  width: 14.43087em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-68 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-69 {
  width: 14.53659em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-69 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-70 {
  width: 14.64155em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-70 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-71 {
  width: 14.74576em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-71 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-72 {
  width: 14.84924em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-72 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-73 {
  width: 14.95201em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-73 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-74 {
  width: 15.05407em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-74 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-75 {
  width: 15.15544em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-75 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-76 {
  width: 15.25615em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-76 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-77 {
  width: 15.35619em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-77 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-78 {
  width: 15.45558em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-78 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-79 {
  width: 15.55434em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-79 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-80 {
  width: 15.65248em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-80 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-81 {
  width: 15.75em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-81 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-82 {
  width: 15.84692em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-82 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-83 {
  width: 15.94326em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-83 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-84 {
  width: 16.03901em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-84 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-85 {
  width: 16.1342em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-85 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-86 {
  width: 16.22883em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-86 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-87 {
  width: 16.32291em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-87 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-88 {
  width: 16.41646em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-88 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-89 {
  width: 16.50947em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-89 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-90 {
  width: 16.60196em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-90 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-91 {
  width: 16.69394em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-91 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-92 {
  width: 16.78541em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-92 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-93 {
  width: 16.87639em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-93 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-94 {
  width: 16.96688em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-94 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-95 {
  width: 17.05689em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-95 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-96 {
  width: 17.14643em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-96 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-97 {
  width: 17.2355em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-97 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-98 {
  width: 17.32412em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-98 {
    font-size: 75%;
  }
}

/* line 556, ../sass/screen.scss */
.size-99 {
  width: 17.41228em;
}
@media (max-width: 800px) {
  /* line 556, ../sass/screen.scss */
  .size-99 {
    font-size: 75%;
  }
}
