
@import "base";
@import "animate";


@mixin bgshifter($xpos, $ypos, $orig-w, $orig-h) {
  background-position: $xpos $ypos;
  
  @include breakpoint(mama-bear) {
    background-position-x: $xpos;
    background-position-y: ($ypos * 0.9);
    @include background-size(($orig-w * 0.7), ($orig-h * 0.7));
  }
  
  @include breakpoint(baby-bear) {
    @if $xpos < 50% {
      background-position-x: $xpos - 5%;
    } @else {
      background-position-x: $xpos + 10%;
    }
    background-position-y: ($ypos * 0.75);
    @include background-size(($orig-w * 0.45), ($orig-h * 0.45));
  }
}


// PBJ home illustration -----------------------------------------------------------------------

.pbj-home {
  width: 100%;
  min-height: 70em;
  margin: 0;
  padding: 0;
  background: image-url('pbj-home-bg.png') bottom center repeat-x;
  overflow: hidden;
  
  @include breakpoint(mama-bear) {
    min-height: 50em;
  }
  @include breakpoint(baby-bear) {
    min-height: 40em;
  }
}

.title-block{
  font: 9em 'Novecento', 'Open Sans', sans-serif;
  font-weight: bold;
  color: $heading-text-color;
  text-transform: uppercase;
  text-align: center;
  width: 90%;
  position: absolute;
  letter-spacing: 0.3em;
  margin: 1.5em auto;
  @include animate(bounceIn, 1s, 3s);

  @include breakpoint(mama-bear) { 
    font-size: .5em;
    letter-spacing: 0.5em;
    font-size: 5em;
    margin-top: 2.5em;
  }

  @include breakpoint(baby-bear) { 
    font-size: .3em;
    letter-spacing: 0.5em;
    font-size: 3em;
    margin-top: 3em;
  }
}

.super-title {
  white-space: nowrap;
  display: block;
  position: relative;
  padding: 0 0.5em;
  border-bottom: solid 0.08em #FFFFFF;
  margin: auto;
  width: 4em;
  text-shadow: .1em .1em 0 $main-text-color ;
  filter: progid:DXImageTransform.Microsoft.DropShadow(offX=2,offY=2,color=000000);

  &:last-child {
    border: none;
  }

  @include breakpoint(mama-bear) { 
    width: 5em;
  }

  @include breakpoint(baby-bear) { 
    width: 5em;
  }
}


.layer-12 { /* string blend */
  @include img-svg (pbj-home-layer-12);
  @include bgshifter (50%, 0em, 844px, 300px);
  @include animate(fadeIn, 1s, 0s);
}

.layer-11 { /* petri dish */
  background: image-url('pbj-home-layer-11.gif') no-repeat;
  @include bgshifter (5%, 0em, 475px, 237px);
  @include animate(fadeInDown, 1s, 1s);
}

.layer-10 { /* hypercube */
  @include img-svg (pbj-home-layer-10);
  @include bgshifter (18%, 32em, 320px, 320px);
  @include animate(bounceInLeft, 2s, 3s);
}

.layer-9 { /* black triange + lightning */
  background: image-url('pbj-home-layer-9.gif') no-repeat;
  @include bgshifter (50%, 30em, 1200px, 418px);
  @include animate(fadeInUp, 1s, 2s);
}

.layer-8 { /* wonder wheel */
  background: image-url('pbj-home-layer-8.gif') no-repeat;
  @include bgshifter (90%, 3em, 591px, 591px);
  @include animate(bounceInRight, 2s, 3s);
}

.layer-7r { /*arc + microscope */
  background: image-url('pbj-home-layer-7r.gif') no-repeat;
  @include bgshifter (70%, 8em, 310px, 371px);
  @include animate(fadeInDown, 1s, 3.5s);
}

.layer-7l { /* arc + triangle + gem + microbs */
  background: image-url('pbj-home-layer-7l.gif') no-repeat;
  @include bgshifter (12%, 12em, 472px, 445px);
  @include animate(fadeInUp, 1s, 3s);
}

.layer-6 { /* small gem */
  background: image-url('pbj-home-layer-6.gif') no-repeat;
  @include bgshifter (75%, 50em, 46px, 38px);
  @include animate(rotateInDownRight, .5s, 4s);
}

.layer-5 { /* impossible triangle */
  background: image-url('pbj-home-layer-5.gif') no-repeat;
  @include bgshifter (70%, 24em, 278px, 238px);
  @include animate(fadeIn, 2s, 2s);
}

.layer-4 { /* squiggle */
  background: image-url('pbj-home-layer-4.png') no-repeat;
  @include bgshifter (10%, 40em, 666px, 22px);
  @include animate(bounceInLeft, 3s, 0s);
}

/* Title text lives between these layers */

.layer-3l { /* jellyfish + triangle */
  background: image-url('pbj-home-layer-3l.gif') no-repeat;
  @include bgshifter (5%, 25em, 381px, 472px);
  @include animate(fadeInUp, 1s, 3s);
}

.layer-3r { /* jellyfish + shell */
  background: image-url('pbj-home-layer-3r.gif') no-repeat;
  @include bgshifter (85%, 1em, 156px, 191px);
  @include animate(fadeInUp, 1s, 2s);
}

.layer-2 { /* bubbles */
  background: image-url('pbj-home-layer-2.gif') no-repeat;
  @include bgshifter (20%, 5em, 144px, 520px);
  @include animate(bounceIn, 1s, 0s);
}

.layer-1 { /* liquid + shattered glass */
  background: image-url('pbj-home-layer-1.gif') no-repeat;
  @include bgshifter(70%, 5em, 761px, 1114px);
  @include animate(fadeInDown, 3s, 3s);
}

.pbj-collage {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 70em;
  @include single-transition(all, 0.5, linear);
}

.group-disappear {
  @include breakpoint(mama-bear) {
    display: none;
  }
  @include breakpoint(baby-bear) {
    display: none;
  }
}