@import "compass/css3/font-face";
@import "compass/css3/transition";
@import "base";

.roll-link {

  a {
    @include unpink;
    display: block;
    position: relative;
    padding: 0 0.5em;
    @include transition(all 400ms ease);
  }

  a:hover{
    padding: 0 0.5em;
    color: $main-text-color;
    background: $main-bg-color;
  }
}