
@import "compass/reset";
@import "compass/css3/font-face";

@include font-face("Novecento", font-files("Novecentowide-Light-webfont.ttf", ttf, "Novecentowide-Light-webfont.woff", woff, "Novecentowide-Light-webfont.otf", opentype), "Novecentowide-Light-webfont.eot", normal, normal);
@include font-face("Novecento", font-files("Novecentowide-Bold-webfont.ttf", ttf, "Novecentowide-Bold-webfont.woff", woff, "Novecentowide-Bold-webfont.otf", opentype), "Novecentowide-Bold-webfont.eot", bold, normal);

// @mixin respond-to($breakpoint) {
//     @media only screen and (max-width: $breakpoint + px) { @content; }
// }

body {
  border-left: 3em solid #000;
    border-right: 3em solid #000;  
    font: 1.3em 'PT Sans', sans-serif;
  background:  image-url('stars-01.gif') fixed center center no-repeat/*,  image-url('space-18.gif') fixed center center no-repeat, */ #000; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body:after {
    content: "";
    position: fixed;
    background: #000;
    left: 0;
    right: 0;
    height: 3em;
    bottom: 0;
}

header {
  background: #000;
  position: fixed;
  left: 0; 
  right: 0;
    top: 0;
  padding: 1em 3em 1em;
    z-index: 99;
    height: 2em;
}

.logo {
    position: relative;

    a {
        html.svg & {
            background-image: image-url("pbj-site-logo.svg");
        }
        html.no-svg & {
            background-image: image-url("fallbacks/pbj-site-logo.png");
        }
        display: block;
        float: left;
        top: 10px;
        left: 0;
        position: absolute;
        overflow: hidden;
        background-repeat: no-repeat;
        text-indent: -9999em;   
        width: 127px;
        height: 38px;
        
        // @include respond-to(small-or-touch) {
        //     width: 84px;
        //     height: 33px;
        //     @include background-size(84px, 33px);
        // } 
    }  
}

nav ul.site-nav {
    text-align: right;

    li {
        display: inline-block;
        padding: 0 0 0 1em;
    }
    
    li a {
        font: 0.8em 'Novecento', georgia, sans-serif;
    font-weight: bold;
    color: #FFF;
        text-decoration: none;
        line-height: 3em;
    }
}

p {
  font-size: 1em;
  line-height: 1.6em;
  color: #000;
}


.content {
    margin: 4em auto 3em;
    border: 1px solid #000;
}

article {
    padding-top: 15%;
}

// article:first-child {
//     padding-top: 1em;
// }

article:last-child {
    padding-bottom: 20em;
}

h2 {
    width: 50%;
    max-width: 20em;
    margin: auto;
    padding: 1em 2em;
}

h3 {
    width: 75%;
    width: calc(100% - 2.6em);
    margin: 2em auto 0;
    padding: 1em 1em;
}

.section-header {
    font: 1.2em 'Novecento', georgia, sans-serif;
    color: #FFF;
    border: solid #FFF .3em;
    background: #000;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-weight: bold;

    em {
        font-weight: normal;
        display: block;
    }
}


.text-block {
    width: 70%;
    max-width: 40em;
  background: white;
  margin: 2em auto;
    padding: 3%;

    strong {
        font-weight: bold;
    }
}

.column-container {
    width: 80%;
    max-width: 60em;
    overflow: auto;
    margin: auto;
}

figure, .column {
    float: left;
    width: 25%;
    width: 27.3333%;
    margin: 3%;

    .text-block {
        width: 80%;
        padding: 10%;
    }
}

ul {
    list-style-type: square;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


// .bubble-container {
//     width: 80%;
//     max-width: 60em;
//     margin: 2em auto;
//     list-style: none;
//     border: solid red 1px;
//     overflow: auto;
// }

// .bubble {
//     float: left;
//     min-width: 6em;
//     min-height: 6em;
//     display: block;

// }

//  // .bubble:before {
//  //    content: "";
//  //    display: block;
//  //    padding-top: 100%;  /* initial ratio of 1:1*/
//  //    }
// .bubble-content{
//     border: solid 1px yellow;
//     // position:  absolute;
//     // top: 0;
//     // left: 0;
//     // bottom: 0;
//     // right: 0;
//             text-align: center;
//     padding: 1%;
//         font: .8em 'PT Sans', sans-serif;
//     color: #000;
//         background-color: #fff;
//     -webkit-border-radius: 100%;
//     border-radius: 100%;
//     }

.list {
    width: 80%;
    max-width: 60em;
    margin: 2em auto;
    list-style: none;
    border: solid red 1px;
    overflow: auto;
}

.list-item{
    position: relative;
    min-width: 6em;
    // margin: 0.5% ;
    float: left;
    }

.list-item:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
    }


@for $string-length from 13 to 25{
    .size-#{$string-length} {
      width: ($string-length * .5em);
    }
}

@for $string-length from 26 to 50{
    .size-#{$string-length} {
      width: $string-length * 0.25em;
    }
}

@for $string-length from 51 to 100{
    .size-#{$string-length} {
      width: $string-length * 0.15em;
    }
}

.list-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    font: 0.8em 'PT Sans', sans-serif;
    line-height: 1em;
    background: #FFF;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    padding:  35% 20%;
    text-align: center;
    }

// .flex-container {

//   list-style: none;
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-flex-flow: column wrap;
//   justify-content: space-around;
//   border: solid 1px green;

//   // li:before {
//   //   content: "";
//   //   display: block;
//   //   padding-top: 100%;  /* initial ratio of 1:1*/
//   //   }

//    li {
//       position: relative;
//       // min-width: 20%;
//       // flex: 1;
//       // -webkit-flex: 1;
//       border: solid 1px blue;

//         p {
//         background: tomato;
//         -webkit-border-radius: 100%;
//         border-radius: 100%;
//         line-height: 150px;
//         color: white;
//         font-weight: bold;
//         font-size: 3em;
//         text-align: center;
//         border: solid 1px yellow;
//         // position:  absolute;
//         // top: 0;
//         // left: 0;
//         // bottom: 0;
//         // right: 0;
//         }

//     }
// }

//         // .sm {
//         //     // -webkit-flex: 2;
//         //     // flex: 2;
//         //     min-width: 20%;

//         // }

//         // .md {
//         //     // -webkit-flex: 4;
//         //     // flex: 4;
//         //     min-width: 40%;
//         // }

//         // .lg {
//         //     // -webkit-flex: 6;
//         //     // flex: 6;
//         //     min-width: 60%;
//         // }

