
// Imports -----------------------------------------------------------------------

@import "compass/reset";
@import "compass/css3/font-face";
@import "compass/css3/background-size";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "pbj-home";
@import "base";


// Global -----------------------------------------------------------------------

p {
  margin: 1em 0;
}

em {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  //font-style: italic;
  font-size: 80%;
  line-height: 1.4em;
}

span.amp {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  }


// Links -----------------------------------------------------------------------

a {
  color: $heading-text-color;
  font-weight: 600;
  text-decoration: none;
  padding: 0 0.2em;
  border-bottom: solid 3px $link-text-color;

  &:hover, a:focus {
    color: white;
    background: $link-text-color;
    border-radius: 0.2em;
  }
}

a.reverse-link {
  color: $link-text-color;
  font-weight: 300;
  text-decoration: none;
  padding: 0 0.2em;
  border-bottom: dotted 1px $link-text-color;

  &:hover, a:focus {
    color: white;
    background: $link-text-color;
    border-radius: 0.2em;
  }
}


// Layout -----------------------------------------------------------------------

body {
  font: 1em/1.6em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $main-text-color;
  border-left: 4em solid $frame-color;
  border-right: 4em solid $frame-color;
  //background:  image-url('backup-bg.jpg') bottom center repeat-x; // Backup image for IE (doesn't load if gradient is supported, filter is no good because it's not multi-stop)
  background-color: $page-bg-color; // Old browsers
  //@include background-image(linear-gradient(top, #000000 0%,#000106 4%,#03030f 7%,#04061b 12%,#06061e 17%,#09071d 20%,#0c0a20 23%,#131126 26%,#161429 29%,#20182d 32%,#22192c 35%,#2c1b2b 38%,#3a2029 41%,#3a232d 44%,#482b2d 47%,#4c302f 50%,#5b3f3c 53%,#674a44 56%,#7a5a4d 59%,#846755 62%,#9f8576 65%,#bbab9b 68%,#c6b599 71%,#b28f71 74%,#a47959 77%,#804729 80%,#642110 83%,#5d1910 86%,#51150d 89%,#40110b 92%,#04061b 96%,#22234f 100%));  
  @include background-image(linear-gradient(top, #000000 0%,#04061b 95%,#22234f 98.5%, #000000 100%));  
  padding-bottom: 4em;

  @include breakpoint(baby-bear) {
    border-left: none;
    border-right: none;
    padding-bottom: 0;
  }
}

/* bottom "border" */
body:after {
  content: "";
  position: fixed;
  background: $frame-color;
  left: 0;
  right: 0;
  height: 4em;
  bottom: 0;
  border-top: 1px solid $frame-color;

  @include breakpoint(baby-bear) {
    height: 0;
  }  
}

.site-wrapper {
  margin: 0 auto;
  //border: 1px solid red;
  background:  image-url('stars-01.gif') fixed center center repeat-y /*, image-url('space-19.gif') fixed center center no-repeat*/;
  
  @include breakpoint(papa-bear) { 
    @include background-size(cover);
  }

  @include breakpoint(baby-bear) { 
    margin: 1em auto 0;
    border: none;
  }
}

article {
  padding-top: 15%;
  
  @include breakpoint(mama-bear) { 
    padding-top: 30%;
  }
}

/* break */
article:last-child {
  padding-bottom: 100%;
}

h2, h3 {
  width: 50%;
  max-width: 20em;
  margin: 0 auto 2em;
  padding: 1em 2em;
  
  @include breakpoint(mama-bear) {
    width: 60%;
    padding: 0.5em 1em;
  }
}

.section-header {
  font: 1.4em/1.5em 'Novecento', 'Work Sans', sans-serif;
  color: $heading-text-color;
  border: solid $heading-text-color .3em;
  background: $heading-bg-color;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;

  .debold {
    font-weight: normal;
    display: block;
  }

  @include breakpoint(mama-bear) { 
    font-size: 1em;
    line-height: 1.5em;
  }
}

.text-block {
  width: 70%;
  max-width: 45em;
  margin: auto;
  padding: 2em 3em;
  background: $main-bg-color;
  font-size: 1.1em;

  strong {
    font-weight: bold;
  }

  .special {
    background: $special-bg-color;
    font-style: italic;
    color: $special-text-color;
  }

  @include breakpoint(mama-bear) { 
    width: 75%;
    font-size: 0.9em;
    line-height: 1.4em;
    padding: 1em 1.8em;
  }
}

.subhead {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 1.5em;

  @include breakpoint(mama-bear) { 
    margin-bottom: 1em;
    font-size: 100%;
  }
}
.center-text {
  text-align: center;
}

.my-own-ticket {
  font-size: 80%;
  line-height: 1.5em;
  font-weight: bold;
  margin: 1em 7.3%;
  border: solid 1px #CCCCCC;
  padding: 2em;
}

// Header -----------------------------------------------------------------------

header {
  background: $frame-color;
  position: fixed;
  left: 0; 
  right: 0;
  top: 0;
  padding: 2em 4em 0em;
  height: 4em;
  z-index: 99;


  @include breakpoint(baby-bear) {
    padding: 0;
    height: 0;
  }
}

.logo {
  -webkit-animation: fadeInDown 1s 0s ease both;
  -moz-animation: fadeInDown 1s 0s ease both;
  -ms-animation: fadeInDown 1s 0s ease both;
  -o-animation: fadeInDown 1s 0s ease both;
  animation: fadeInDown 1s 0s ease both;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 2em;
  left: 4em;
}

html.svg .logo {
  background-image: url("../images/pbj-site-logo.svg?1375622054");
  background-repeat: no-repeat;
}

html.no-svg .logo {
  background-image: url("../images/fallbacks/pbj-site-logo.png?1375622043");
  background-repeat: no-repeat;
}

.logo a {
  background: none;
  border: none;
  color: inherit;
  width: 100px;
  height: 30px;
  display: block;
  text-indent: -9999em;
  z-index: 100;
  background-position: 0 4em;
}

.logo a:hover {
  background: none;
  border: none;
  color: inherit;
}

.logo a:hover {
  -webkit-transition: background-position 0.5s ease;
  -moz-transition: background-position 0.5s ease;
  -o-transition: background-position 0.5s ease;
  transition: background-position 0.5s ease;
}

html.svg .logo a:hover {
  background-image: url("../images/pbj-site-logo-arrows.svg?1378890603");
  background-repeat: no-repeat;
}

html.no-svg .logo a:hover {
  background-image: url("../images/fallbacks/pbj-site-logo-arrows.png?1378890679");
  background-repeat: no-repeat;
}

@media (max-width: 650px) {
  .logo {
    display: none;
  }
}

.top-link a {
  color: #fff;
  text-decoration: none;
  font: 1.4em/3em 'Novecento', 'Work Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 0 2em;

}

@media (max-width: 650px) {
  .top-link {
  font-size: 1em;
  }
}

.main-nav span a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.main-nav {
  position: absolute;
  top: 2em;
  right: 4em;
  display: block;
  font: 1em/2em 'Novecento', 'Work Sans', sans-serif;
  -webkit-animation: fadeInDown 0.5s 0s ease both;
  -moz-animation: fadeInDown 0.5s 0s ease both;
  -ms-animation: fadeInDown 0.5s 0s ease both;
  -o-animation: fadeInDown 0.5s 0s ease both;
  animation: fadeInDown 0.5s 0s ease both;
}

@media (max-width: 650px) {
  .main-nav {
    top: 0;
    right: 0;
  }
}

.main-nav span {
  display: inline-block;
}

@media (max-width: 800px) {
  .main-nav span {
    margin: 0;
    padding: 0;
  }
}

.main-nav span a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.menu-controls a {
  display: none;
}

@media (max-width: 650px) {
  .menu-controls a {
    position: fixed;
    display: block;
    background-position: center;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 1.5em;
    height: 1.8em;
    margin: 0.3em;
    border: none;
  }
  html.svg .menu-controls a {
    background-image: url("../images/menu-white.svg?1359749387");
    background-repeat: no-repeat;
  }
  html.no-svg .menu-controls a {
    background-image: url("../images/fallbacks/menu-white.png?1359749387");
    background-repeat: no-repeat;
  }
  .main-nav {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 0;
    background: black;
    text-align: center;
    transition: height 0.3s ease;
  }
  .main-nav a {
    display: inline-block;
    color: white;
    font-size: 0.8em;
    margin: 0;
  }
  #main-nav:target {
    display: block;
  }
  #main-nav:target .close-menu {
    display: inline-block;
  }
  #main-nav:target + .menu-controls {
    display: none;
  }
}

.roll-link {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.roll-link:hover {
  text-decoration: none;
}

.roll-link a {
  background: none;
  border: none;
  color: inherit;
  display: block;
  position: relative;
  padding: 0 0.5em;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.roll-link a:hover {
  background: none;
  border: none;
  color: inherit;
}

.roll-link a:hover {
  background: #fff;
  -webkit-transform: translate3d(0, 0, -30px);
  -moz-transform: translate3d(0, 0, -30px);
  -ms-transform: translate3d(0, 0, -30px);
  -o-transform: translate3d(0, 0, -30px);
  transform: translate3d(0, 0, -30px);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.roll-link a:after {
  content: attr(title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0.5em;
  color: #000;
  background: #fff;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

.ie .roll-link {
  display: inline-block;
  -webkit-perspective: none;
  -moz-perspective: none;
  -ms-perspective: none;
  -o-perspective: none;
  perspective: none;
}

.ie .roll-link:hover {
  text-decoration: none;
}

.ie .roll-link a {
  background: none;
  border: none;
  color: inherit;
  color: #fff;
  display: block;
  position: relative;
  padding: 0 0.5em;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.ie .roll-link a:hover {
  background: none;
  border: none;
  color: inherit;
}

.ie .roll-link a:hover {
  padding: 0 0.5em;
  color: #000;
  background: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.ie .roll-link a:after {
  content: "";
  display: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

@media screen and (min-width: 0 \0) {
  .roll-link {
    display: inline-block;
    -webkit-perspective: none;
    -moz-perspective: none;
    -ms-perspective: none;
    -o-perspective: none;
    perspective: none;
  }
  .roll-link:hover {
    text-decoration: none;
  }
  .roll-link a {
    background: none;
    border: none;
    color: inherit;
    display: block;
    position: relative;
    padding: 0 0.5em;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .roll-link a:hover {
    background: none;
    border: none;
    color: inherit;
  }
  .roll-link a:hover {
    padding: 0 0.5em;
    color: #000;
    background: #fff;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .roll-link a:after {
    content: "";
    display: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

// Belong -----------------------------------------------------------------------

.extra-space {
  margin-bottom: 4em;
}

.blend-box{
  width: 80%;
  max-width: 56.3em;
  margin: 0 auto;

  @include breakpoint(mama-bear) { 
    min-height: 10em;
  }

  @include breakpoint(baby-bear) { 
    width: 85%;
  }

  @include breakpoint(tiny-bear) { 
    width: 90%;
  }
}

.blend-1, .blend-2 {
  width: 100%;
  min-height: 18em;
  background-position: top center;
  background-repeat: no-repeat;
  @include background-size(100% auto);
}

.blend-1 {
  @include img-svg('ice-blend-1');
  margin-top: -5.7%;

  @include breakpoint(mama-bear){
  }


}

.blend-2 {
  @include img-svg('drip-blend-1');
  margin-top: 0%;

}


.text-block {
  width: 70%;
  max-width: 45em;
  margin: auto;
  padding: 2em 3em;
  background: $main-bg-color;
  font-size: 1.1em;

  @include breakpoint(mama-bear) { 
    width: 75%;
    font-size: 0.9em;
    line-height: 1.4em;
    padding: 1em 1.8em;
  }
}

.intro-text {
  font: 2em/1.5em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $heading-text-color;
  background: black;

  @include breakpoint(mama-bear) {
  font: 1.5em/1.5em 'Work Sans', sans-serif; 
  font-weight: 300;
  }
}

.intro-text-small {
  font: 1.5em/2em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $heading-text-color;
  background: black;
}

.emoji {
  height: 32px;
  width: 32px;

  @include breakpoint(mama-bear) {
  height: 24px;
  width: 24px;
  }
}

a.meetup-red  {
  font-weight: 600;
  color: $heading-text-color;
  border-bottom: 3px solid $meetup-red;
  text-decoration: none;

  &:hover, a:focus {
    background: $meetup-red;
  }
}

a.tpt-green {
  font-weight: 600;
  color: $heading-text-color;
  border-bottom: 3px solid $tpt-green;
  text-decoration: none;
  
  &:hover, a:focus {
    background: $tpt-green;
  }
}

a.ladders-blue {
  font-weight: 600;
  color: $heading-text-color;
  border-bottom: 3px solid $ladders-blue;
  text-decoration: none;

  &:hover, a:focus {
    background: $ladders-blue;
  }
}

.invisible-box {
  width: 75%;
  // max-width: 45em;
  margin: 2em auto;
  // padding: 2em 3em;


  @include breakpoint(mama-bear) { 
    width: 75%;
    font-size: 0.9em;
    line-height: 1.4em;
    padding: 1em 1.8em;
  }
}

.intro-text-special {
  font: 2em/1.5em 'Work Sans', sans-serif;
  font-weight: 600;
  color: $heading-text-color;
  background: black;
  padding: 0.3em;
}

.user-story-table {
  margin: 1em auto;
  //border: solid 1px red;
  overflow: hidden;
  width: 90%;
}

.us-table-cell-left {
  margin: 2%;
  vertical-align: top;
  text-align: right;
  width: 20%;
  float:left;
  //border: solid 1px blue;

  @include breakpoint(mama-bear) {
    float: none;
    width: 90%;
    font-size: 1em;
    text-align: left;
    margin: 1em 0;
  }
}

.us-table-cell-right {
  margin: 2%;
  vertical-align: top;
  width: 70%;
  float: right;
  //border: solid 1px green;

  @include breakpoint(mama-bear) {
    float: none;
    width: 90%;
    font-size: 1em;
    margin: 1em 0;
  }
}

.us-list {
  // font: 2em/1.5em 'Work Sans', sans-serif;
  // font-weight: 300;
  // color: $heading-text-color;
}

.us-list-item {
  padding: 0 0 2em 0;

}

.us-ad-lib {
  font: 1.5em/2em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $heading-text-color;
  background: #221898;
  border-radius: 10px;
  padding: 0.5em;
  //font-style: italic;
}




// Column Rules -----------------------------------------------------------------------

.column-container {
  width: 80%;
  max-width: 80em;
  margin: 2em auto ;
  min-height: 16em;
  //border: 1px solid green;
  //overflow: hidden;

  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    width: 100%;
    font-size: 1em;
  }

  @media screen and (min-width: 800px) and (max-width: 1000px) {
    width: 95%;
    padding: 2.5%;
  }

  @include breakpoint(mama-bear) {
    width: 98%;
    padding: 1em 0;
  }

}


.column {
  float: left;
  width: 27.3333%;
  min-width: 15em;
  margin: 2%;
  //border: 1px solid red;


  @media screen and (min-width: 800px) and (max-width: 1000px) {
    float: none;
    width: 50%;
    margin: 2% auto;
  }

  @include breakpoint(mama-bear) { 
    float: none;
    width: 70%;
    margin: 2% auto;
  }

  @include breakpoint(tiny-bear) {
    width: 90%;
  }

  .text-block {
    width: 80%;
    padding: 10%;
  }

  ul {
    list-style-type: disc;
    margin: 0 0 0 1.2em;
  }
}

// Card Rules -----------------------------------------------------------------------


.card-container {
  width: 80%;
  max-width: 45em;
  margin: auto;
  //background:pink;
  //min-height: 16em;

    &:hover {
      @include scale(1.03);
      // @include single-box-shadow(red, 0, 10px, 0px, 0px);
    }

}
.card-container .card.flipped {
    -webkit-transform: rotatey(-180deg);
}
.card-container .card {
    width: 100%;
    height: 100%;
    min-height: 16em;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;

    @include breakpoint(mama-bear) {
    min-height: 9em;
    margin: 2em auto;
    
  }
}
.card-container .card .face {
    width: 100%;
    height: 100%;
    padding: 0 2em;
  margin: auto;
    -webkit-backface-visibility: hidden;
    z-index: 2;


}
.card-container .card .front {
    position: absolute;
    left: -2em;
    z-index: 1;
    background: #221898;
    color: white;
    border: solid 4px #221898;
    border-radius: 10px;
    cursor: pointer;
}

.card-container .card .back {
     position: absolute;
  -webkit-transform: rotatey(-180deg);
  left: -2em;
    background: black;
    border: solid 4px #221898;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.statement-text {
  font: 1.5em/1.5em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $heading-text-color;

  @include breakpoint(mama-bear) {
  font: 1.5em/1.5em 'Work Sans', sans-serif;
  font-weight: 300;
  }
}

// .bump-down {
//   margin-top: 2.5em;

//   @include breakpoint(mama-bear) {
//     margin-top: 1.5em;
//   }
// }

.truth-or-lie {
  font: 1.3em/1.3em 'Work Sans', sans-serif;
  font-weight: 600;
  color: $heading-text-color;

  @include breakpoint(mama-bear) {
  font: 1em/1.2em 'Work Sans', sans-serif;
  font-weight: 600;
  }
}

.extra-text {
  font: 1.3em/1.5em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $heading-text-color;

  @include breakpoint(mama-bear) {
  font: 1em/1.2em 'Work Sans', sans-serif;
  font-weight: 300;
  }
}

.emoji-small {
  height: 18px;
  width: 18px;
  margin-top: 0.8em;

  @include breakpoint(mama-bear) {
  height: 15px;
  width: 15px;
  margin-top: 0.5em;
  }
}

.emoji-big {
  height: 48px;
  width: 48px;
  margin: 0.3em;

  @include breakpoint(mama-bear) {
  height: 24px;
  width: 24px;
  margin: 0;
  }
}

// About -----------------------------------------------------------------------

.pbj-about {
  position: relative;
  background: image-url('pbj-about.png') no-repeat;
  @include background-size(100% auto);
  max-width: 50em;
  width: 85%;
  min-height: 25em;
  margin: auto;

  @include breakpoint(baby-bear) { 
    min-height: 20em;
    line-height: 1.4em;
  }

  @include breakpoint(tiny-bear) { 
    width: 92%;
    min-height: 16em;
    font-size: 70%;
  }

  p {
    padding: 8% 32% 0 8%;
    text-align: center;

    @include breakpoint(tiny-bear) { 
      padding-top: 5%;
    }
  }
}


.column-head {
  width: 75%; /* calc fallback for IE 8 */
  width: calc(100% - 2.6em);
  margin: 2em auto;
  padding: 1em 1em;

  @include breakpoint(mama-bear) { 
    width: 65%;
    padding: 1em 0;
  }
}

.column-1, .column-2, .column-3{
  display: block;
  min-height: 190px;
  background: no-repeat;
  @include background-size(100% auto);

  @media screen and (min-width: 400px) and (max-width: 800px) {
    margin-top: -7em;
    min-height: 350px;
  }
}

.column-1 {
  @include img-svg('column-footer-1');
  margin-top: -15%;
}

.column-2 {
  @include img-svg('column-footer-2');
  margin-top: -12%;
}

.column-3 {
  @include img-svg('column-footer-3');
  margin-top: -15%;
}

.icon-strengths, .icon-chops, .icon-quirks {
  display: block;
  height: 33px;
  margin:  0 auto;

}

.icon-strengths {
  @include img-svg('icon-strengths');
  width: 26px;
}

.icon-chops {
  @include img-svg('icon-chops');
  width: 47px;
}

.icon-quirks {
  @include img-svg('icon-quirks');
  width: 37px;
}

html.svg .impossible, html.no-svg .impossible  {
  @include background-size(40%);
  background-position: center;
}

.impossible-1 {
  @include img-svg('impossible-1');
}

.impossible-2 {
  @include img-svg('impossible-2');
}

.impossible-3 {
  @include img-svg('impossible-3');
}

.impossible-4 {
  @include img-svg('impossible-4');
}

.impossible-5 {
  @include img-svg('impossible-5');
}

.impossible-6 {
  @include img-svg('impossible-6');
}

.impossible-7 {
  @include img-svg('impossible-7');
}

.impossible-8 {
  @include img-svg('impossible-8');
}

// Work -----------------------------------------------------------------------

.work-container {
  width: 90%;
  //max-width: 80em;
  margin: 8em auto 0;
  overflow: hidden;
  //border: solid 1px red;

  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    width: 80%;
  }

  @media screen and (min-width: 800px) and (max-width: 1000px) {
    width: 90%;
  }

  @include breakpoint(mama-bear) {
    width: 90%;
    margin: 4em auto 0;
    //padding: 1em 0;
  }

}

.work-block {
  //max-width: 650px;
  //width: 46%;
  min-width: 15em;
  margin: 1.5%;
  text-align: center;
  //border: solid 1px blue;

  @media (max-width: 1200px) {  
    width: 100%;
    margin: 1.5% auto;
  }

  @include breakpoint(mama-bear) { 
    margin: 0.5%;
  }

  img {
    max-width: 100%;
    //border: solid 0.5em $main-bg-color;
    border-radius: 10px;

    @media (max-width: 1200px) {  
      width: 100%;
    }
  }
}

.float-right {
  float: right;
  text-align: left;

  @media (max-width: 1200px) {  
      text-align: left;
      float: none;
    }
}

.float-left {
  float: left;
  text-align: right;

    @media (max-width: 1200px) {  
      float: none;
    }
}


.fat-side {
  width: 55%;

  @media (max-width: 1200px) {  
      width: 90%;
      margin: auto;
    }
}

.skinny-side {
  width: 38%;

    @media (max-width: 1200px) {  
      width: 90%;
      margin: auto;
    }
}

.work-blurb {
  width: 75%;
  max-width: 35em;
  //margin: 5em 0 0 0;
  padding: 1em 3em;
  background: black;
  color: white;
  text-align: left;
  //border: 1px red solid;

  @include breakpoint(mama-bear) { 
    width: 90%;
    padding: 1em 1.5em;
  }
}

.work-blurb-subhead {
  font: 1.8em/1em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $heading-text-color;

  @include breakpoint(mama-bear) { 
    font: 1.5em/1.5em 'Work Sans', sans-serif;
    font-weight: 300;
  }
}

.work-blurb-body {
  font: 1.2em/1.8em 'Work Sans', sans-serif;
  font-weight: 300;
  color: $heading-text-color;

    @include breakpoint(mama-bear) { 
    font: 1.1em/1.5em 'Work Sans', sans-serif;
    font-weight: 300;
}
  
}

.img-shrink-70 {
  width: 70%;
  height: 70%;
}

.push-down {
  margin-top: 8em;

  @media (max-width: 1200px) {
    margin-top:0;
  }
}

.pull-up {
  margin-top: -20em;

  @media (max-width: 1200px) {
    margin-top:0;
  }
}

.shove-right {
  margin-left: 12%;

  @media (max-width: 1200px) {
    margin-left:0;
  }
}

// .intro-text {
//   font: 2em/1.5em 'Work Sans', sans-serif;
//   font-weight: 300;
//   color: $heading-text-color;
//   background: black;

//   @include breakpoint(mama-bear) {
//   font: 1.5em/1.5em 'Work Sans', sans-serif; 
//   font-weight: 300;
//   }
// }

// Rotating gallery -----------------------------------------------------------------------

.image-loop-container{
  position: relative;
  overflow: hidden;
  min-height: 30em;

  @include breakpoint(mama-bear) {
    min-height: 18em;
  }

  img.loop-me {
    position: absolute;
    transition: opacity 1s ease-in;
  }

  img + img { opacity: 0; }

}




// OLD Work styles-----------------------------------------------------------------------
figure {
  float: left;
  max-width: 350px;
  width: 27.3333%;
  min-width: 15em;
  margin: 2%;

  a {
    @include unpink;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    @include perspective(1000); // hack for smoothing out the blur on hover
  }

  img {
    width: 95%;
    border: solid 0.5em $main-bg-color;
    background: $main-bg-color;
    @include transition(box-shadow .2s ease-in);

    &:hover {
      @include scale(1.1);
      @include single-box-shadow(rgba(0, 0, 0, 0.3), 0, 0, 0.5em, 0.5em);
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1000px) {
    width: 37%;
    margin: 2%;
  }

  @media screen and (min-width: 800px) and (max-width: 1000px) {
    width: 45%;
  }

  @include breakpoint(mama-bear) { 
    float: none;
    width: 70%;
    margin: 2% auto;
  }

  @include breakpoint(tiny-bear) {
    width: 75%;
  }
}

.responsive {
    width: 100%;
    height: auto;
}


.case-study-container {
  width: 80%;
  max-width: 80em;
  margin: auto auto 5em;
  overflow: auto;
  text-align: center;
  // border: solid 1px red;

  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    width: 100%;
    font-size: 1em;
  }

  @media screen and (min-width: 800px) and (max-width: 1000px) {
    width: 95%;
    padding: 2.5%;
  }

  @include breakpoint(mama-bear) {
    width: 98%;
    padding: 1em 0;
  }

}

figure.case-study {
  float: right;
  max-width: 90%;
  width: 75%;
  min-width: 15em;
  margin: 2% 13% 6% 2%;
  // border: solid 1px blue;
  text-align: center;

  a {
    @include unpink;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    @include perspective(1000); // hack for smoothing out the blur on hover
  }

  img {
    width: 95%;
    border: solid 0.5em $main-bg-color;
    background: $main-bg-color;
    @include transition(box-shadow .2s ease-in);

    &:hover {
      @include scale(1.03);
      @include single-box-shadow(rgba(0, 0, 0, 0.3), 0, 0, 0.5em, 0.5em);
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1000px) {
    width: 80%;
    margin: 2%;
  }

  @media screen and (min-width: 800px) and (max-width: 1000px) {
    width: 90%;
    margin: 2%;
  }

  @include breakpoint(mama-bear) { 
    float: none;
    width: 90%;
    margin: 2% auto;
  }

  @include breakpoint(tiny-bear) {
    width: 90%;
  }
}

.case-study-label {
  position: absolute;
  display: block;
  margin: 3em auto auto 3em;
  padding: 1em 2em;
  font: 1em/1.2em 'Novecento', 'Work Sans', sans-serif;
  color: $heading-text-color;
  // border: solid $heading-text-color .3em;
  background: $heading-bg-color;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: left;
  z-index: 100;
  
  @include breakpoint(mama-bear) {
    padding: 0.5em 1em;
    margin: 1.5em auto auto 1.5em;
    max-width: 16em;
  }
}


// Footer -----------------------------------------------------------------------

footer {
  position: relative;
  @include img-svg('theater-seat', repeat-x);
  background-position: right bottom;
  min-height: 200px;
  margin: 0;
  padding-top: 20em;

  @include breakpoint(baby-bear) { 
    padding-top: 20em;
    border-bottom: 4em solid black; 
  }
}

.mst3k {
  @include img-svg('mst3k');
  position: absolute;
  width: 200px;
  height: 60px;
  bottom: 50px;
  right: 99px;

  @include breakpoint(baby-bear) { 
    right: 20px;
  }
}

.snark-bucket {
  position: absolute;
  bottom: 120px;
  right: 3em;
  max-width: 45em;
  text-align: right;

  @include breakpoint(mama-bear) { 
    width: 100%;
  }

  @include breakpoint(baby-bear) { 
    right: 0.5em;
  }

  @include breakpoint(tiny-bear) { 
    right: 0;
  }
}

.tom-servo, .joel-robinson, .crow-t-robot {
  position: relative;
  display: inline-block;
  border-radius: 8em;
  background: #FFF;
  color: #000;
  font-size: 0.8em;
  line-height: 1.3em;
  text-align: center;
  vertical-align: bottom;
  }

.tom-servo:after, .joel-robinson:after, .crow-t-robot:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: #FFF transparent;
  display: block;
  width: 0;
  }

.tom-servo {
  padding: 2em 1.5em;
  max-width: 15em;
  width: 32%;
  width: calc(46% - 3em);
  margin: 5em 0 0 0;
  }

.tom-servo:after {
  bottom:-1em; /* value = - border-top-width - border-bottom-width */
  right:20%; /* controls horizontal position */
  border-width:2.5em 0 0 3em; /* vary these values to change the angle of the vertex */
  }

.joel-robinson {
  margin: 0 0 10em 0;
  padding: 2em 1.5em;
  max-width: 6.5em;
  min-width: 4em;
  width: 13%;
  width: calc(25% - 3em);
  font-weight: bold;
  }

.joel-robinson:after {
  border-width: 10em 15px 0;
  margin-left: -15px;
  bottom: -9em;
  left: 50%;
  }

.crow-t-robot{
  padding: 2em 1em;
  min-width: 3em;
  width: 12%;
  width: calc(15% - 2em);
  margin: 0 0 1.5em 0;
  }

.crow-t-robot:after {
  bottom:-1.5em; /* value = - border-top-width - border-bottom-width */
  right:40%; /* controls horizontal position */
  border-width:2em 2em 0 0; /* vary these values to change the angle of the vertex */
  }

// Core Values Bubbles & "Hello" Social media Triangles -----------------------------------------------------------------------

.bubble-list, .triangle-list {
  width: 80%;
  max-width: 80em;
  margin: 5em auto;
  list-style: none;
  text-align: center;

  @include breakpoint(mama-bear) { 
    width: 90%;
    margin: 3em auto;
  }
}

.triangle-list {
  @include img-svg('polygon-mesh');
  @include background-size(contain);
  background-position: center ;
  padding: 10%;
  max-width: 60em;

  @include breakpoint(mama-bear) {
    max-width: 80%;
  }
}

.bubble, .triangle {
  position: relative;
  min-width: 6em;
  display: inline-block;
  vertical-align: bottom;
  @include perspective(1000); // hack for smoothing out the blurry text on hover of bubbles and triangles

  html.no-borderradius & {
    min-width: 8em;
    vertical-align: middle;
  }

  &:hover {
    z-index: 10;
  }

}

.bubble {
  margin: -0.8em;
}

.triangle {
  margin: -1.3em;
}

.bubble:before, .triangle:before{
  content: "";
  display: block;
  padding-top: 100%;  /* this maintains the aspect ratio of the bubble - 1:1*/
}

.bubble-content, .triangle-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  font: 1em/1.2em 'Novecento', 'Work Sans', sans-serif;
  font-weight: bold;
  color: $main-text-color;
  text-align: center;
  z-index: 0;

  &:hover {
    @include scale(1.2);
  }

  a {
    color: #000;
    border-color: #000;
  }

  a:hover {
    background-color: transparent;
  }
}

.bubble-content {
  padding: 30% 15%;
  border-radius: 100%;
  background: $main-bg-color;
  @include transition(box-shadow .1s ease-in);

  html.no-borderradius & {
    /* thought about doing a re-sizable svg circle graphic as the bg here, but browsers without border-radius also do not have svg, instead squares */
    border: solid 0.5em black;
    padding: 10%;
  }
  
  em {
    display: block;
    margin: 0.6em 0;
    font-size: 0.9em;
  }

    &:hover {
    @include single-box-shadow(rgba(255, 255, 255, 0.3), 0, 0, 0em, 1em);
  }
}

.triangle-content:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  @include img-svg('triangle-down');
  @include background-size(100% auto);
  z-index: -1;
}

.triangle:nth-child(even) .triangle-content{
  padding: 30% 15%;
}

.triangle:nth-child(odd) .triangle-content{
  padding: 50% 15%;
  line-height: 3em;
}

.triangle:nth-child(odd) .triangle-content:before{
  @include rotate(180deg);
}

$string-length: 1;

@while $string-length < 100 {
  .size-#{$string-length} {
    width: sqrt($string-length) * 1.75em;
    @include breakpoint(mama-bear) { 
      font-size: 75%;
    }
    @include breakpoint(tiny-bear) { 
      font-size: 60%;
      width: sqrt($string-length) * 1.5em;
    }
  }
  $string-length: $string-length + 1;
}

